<mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" gutterSize="1%">
  <mat-grid-tile (click)="onClickMe()">
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
    <mat-grid-tile-footer>Bloup bloup</mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile (click)="onClickMe()">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
      <mat-grid-tile-footer>Bloup bloup</mat-grid-tile-footer>
    </mat-grid-tile>

    <mat-grid-tile (click)="onClickMe()">
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
        <mat-grid-tile-footer>Bloup bloup</mat-grid-tile-footer>
      </mat-grid-tile>


</mat-grid-list>