mat-grid-list{
  min-height: 100vh;
  overflow: scroll;
}

mat-grid-tile{
  border-radius: 8%;
  border: 1px;
  border-color: darkgray;
  border-style: solid;
  transition: transform .2s;
}

mat-grid-tile:hover {
  transform: scale(1.05);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.801);
}
.img-card {
  width:100%;
  height: 100%;
}
