.example-fill-remaining-space {
  flex: 1 1 auto;
}

button{
  background-color: #96BAF2;
  color: white;
  margin-right: 2%;
  border-radius: 100px;
}

mat-toolbar{
  margin-bottom: 2%;
  position: fixed;
  top: 0;
  z-index: 100;
}