
<mat-tab-group class="mat-elevation-z2" dynamicHeight>
  <span>
    <mat-icon svgIcon="clap"></mat-icon>
  </span>
  
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon svgIcon="clap"></mat-icon>
    </ng-template>
  </mat-tab>

  <mat-tab label="Cette semaine">
      <app-page1></app-page1>
  </mat-tab>


  <mat-tab label="Watchlist">
    <app-page2></app-page2>
  </mat-tab>

  
  <mat-tab label="Mon ciné">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <button mat-flat-button *ngFor="let button of buttons" (click)="tempoTestAPI()">
        {{button}}
      </button>
    </ng-template>
  </mat-tab>
</mat-tab-group>
